/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self 
 */

 header div.nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: rgb(114, 114, 114);
    width: 70%;
  }
  
  header h1.title {
    text-align: center;
  }
  
  header div.nav li {
    float: left;
  }

  header div.nav li.float_right {
      float: right;
  }
  
  header div.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
  }

  header div.nav li p {
    font-weight: bold;
    color: rgb(124, 240, 240);
    padding-right: 1em;
  }
  
  /* Change the link color to #111 (black) on hover */
  header div.nav li a:hover {
    background-color: #111;
  }

  header div.nav li a.show_username:hover {
    background-color: rgb(114, 114, 114);
  }