// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.place_topics {
    margin-left: 17%;
    font-size: 1.2em;
}
form.follow {
    display: inline;
}
form.show_follow {
    text-align: center;
    display: inline-block;
}
h2.place_title {
    display: inline;
    margin-left: 17%;
}
.place_topic_title {
    margin-top: 0;
}