div.login_container {
    text-align: center;
    margin: 2em 0 0 0;
}
div.login {
    width: 30%;
    margin: 0 auto;
}
div.login_container form {
    text-align: left;
    margin: 0 0 0 8em;
}
div.login_container a.facebook_login {
    font-size: 1.2em;
    color: blue;
}