// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.new_quote {
    width: 30%;
    margin: 0 auto;
    padding-left: 10em;
    margin-top: 1.6em;
}
a.new_quote {
    text-align: center;
    display: block;
    font-size: 20px;
    margin-top: 1em;
}
.new_quote > input, .new_quote > textarea {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display: block;
}
.new_quote > select {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}
.column {
    flex-basis: 27%;
    vertical-align: top;
    padding: 0 1.3em;
    margin: 0;
    border-top: solid 1px;
}
.topic_index_column {
    flex-basis: 27%;
    vertical-align: top;
    padding: 0 1.3em;
    margin: 0;
    border-bottom: solid 1px;
}
.row {
    margin: 0 auto 0 13%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.topic_row {
    margin: 0 auto 0 13%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    border-bottom: solid 1px;
    padding-bottom: 12px;
}
.box>* {
    flex: 1 1 160px;
}
h2 {
    text-indent: 17%;
}
a.see_quote {
    float: right;
    color: blue;
}
a.see_quote:visited {
    color: blue;
}
div.centered_clipboard_title {
    text-align: center;
}
a.new_quote_topic {
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 0 1em 1em 1em;
    color: blue;
}
a.new_quote:visited {
    color: blue;
}
a.new_quote {
    color: blue;
}
a.new_quote_topic:visited {
    color: blue;
}
.see_more {
    font-size: 1.2em;
    text-transform: uppercase;
    font-style: italic;
}
form.topics_filter {
    margin: 1em 0 1em 0;
}
form.topics_filter > select {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}
form.topics_filter > input {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
}
div.topics_index_top_pane {
    margin: 0 auto 0 13%;
    width: 80%;
    border-bottom: solid 1px;
}