// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_quote {
    font-size: 20px;
    text-align: center;
    display: block;
}
.column {
    flex-basis: 25%;
    vertical-align: top;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
}
.row {
    margin: 0 auto 0 15%;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}
.box>* {
    flex: 1 1 160px;
}
h2 {
    text-indent: 17%;
}
a.see_quote {
    float: right;
}
a.see_more {
    margin-left: 17%;
}
div.centered_clipboard_title {
    text-align: center;
}