// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_topic_quote {
    margin: 0 auto;
    font-size: 20px;
}
.column {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: left;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
}
.row {
    margin: 0 auto;
    text-align: center;
}
h2 {
    text-indent: 17%;
}
a.see_quote {
    float: right;
}