// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2.clipboard_title {
    text-align: center;
    text-indent: 0;
    display: inline-block;
}
h2.clipboard_title_real {
    text-align: center;
    text-indent: 0;
}
div.clear_clipboard {
    text-align: center;
}
div.alert {
    margin-top: 2em;
    text-align: center;
    color: red;
    font-weight: bold;
}