// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2.clipboard_title {
    text-align: center;
    text-indent: 0;
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: lighter;
}
h2.clipboard_title_real {
    text-align: center;
    text-indent: 0;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: lighter;
}
div.clear_clipboard {
    text-align: center;
    padding-bottom: 1em;
}
div.alert {
    margin-top: 2em;
    text-align: center;
    color: red;
    font-weight: bold;
}
.clipboard_column {
    flex-basis: 27%;
    vertical-align: top;
    padding: 0 1.3em;
    margin: 0;
    border-bottom: solid 1px;
}
h3#following_header {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: bold;
    text-indent: 0;
    margin: 1em 0 0 0;
}
h3#not_following_users {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
}