<% @places.each do |place| %>
    <h2><%= link_to place.name, place_path(place) %></h2>
    <ul class="place_topics">
        <% place.first_5_topics.each do |topic| %>
            <li><%= link_to topic.name, topic_path(topic) %></li>
        <% end %>
        <% if place.topics.length > 5 %>
            <li><%= link_to "see more...", place_path(place) %></li>
        <% end %>
    </ul>
<% end %>
